/* Ajustes generales */

html {
    scroll-behavior: auto !important;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
}

.bg-calipso {
    background-color: #0dcaf0;
}

/* Nav */

nav a:first-child {
    font-weight: 400;
}

/* Quienes somos */

#Quienes-somos h3 {
    font-size: 30px;
    font-weight: 400;
}

#Quienes-somos i {
    font-size: 20px;
    color: #FFFFFF;
}

#Quienes-somos p {
    font-size: 14px;
    font-weight: 300;
}

/* Destacados */

#Destacados h3 {
    font-size: 30px;
    font-weight: 400;
}

#Destacados img {
    height: 150px;
}

#Destacados h4 {
    font-size: 16px;
    font-weight: 400;
}

#Destacados p {
    font-size: 14px;
    font-weight: 300;
}

/* Contacto */

#Contacto h3 {
    font-size: 30px;
    font-weight: 400;
}

#Contacto label {
    font-size: 16px;
    font-weight: 400;
}

.btn-calipso {
    color: #FFFFFF;
    font-weight: 400;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

/* Footer */

footer h3 {
    font-size: 30px;
    font-weight: 400;
}

footer i {
    font-size: 35px;
    color: #FFFFFF;
    margin: 0 8px;
}

/* Modal */

#exampleModal p:first-child {
    font-size: 24px;
    font-weight: 400;
}
#exampleModal p:last-child {
    font-size: 20px;
    font-weight: 300;
}

#exampleModal img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}